---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/post*.md?");
const pageTitle = "My Music Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my musical thoughts.</p>
  <p>The thoughts aren't musical, they're about music.</p>
  <ul>
    {
      allPosts
        .reverse()
        .map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)
    }
    <h3>Check out my older blogs too:</h3>
    <BlogPost url="https://tay-2022-music.netlify.app/" title="2022 Music Blog" />
    <BlogPost url="https://tay-2021-music.netlify.app/" title="2021 Music Blog" />
  </ul>
</BaseLayout>
