---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "I'm Taylor";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Taylor's music blogs</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
