---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "I'm Taylor";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Taylor's music blogs & coding content</h2>
  <p>I built this website myself, and I think it's great.</p>
</BaseLayout>
